{% extends 'base.html.twig' %}

{% block title %}Classement{% endblock %}

{% block body %}
    <div class="home">
        <h1>50 meilleurs scores</h1>
        <ul class="list-group">
            {% for matrice in matrices %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ matrice.user.username }}
                    <span>{{ matrice.createdAt|date('d/m/y') }}</span>
                    <span class="badge badge-primary badge-pill">{{ matrice.score }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
