{% extends 'base.html.twig' %}

{% block title %}Play !{% endblock %}

{% block body %}
    <p>
    Score à battre : <strong>{{ best_matrice.score }}</strong> ({{ best_matrice.user.username }})<br>
    Score : <strong>{{ matrice.score }}</strong>
    </p>
    <div class="matrice">
        <form action="" method="post">
            {% for block in matrice.blocks %}
                {% if loop.index == 1 %}
                    <div class="d-flex">
                {% endif %}
                 {% include 'matrice/_block.html.twig' %}
                {% if loop.index %matrice.multiple == 0 %}
                    </div>
                    {% if loop.last != true %}
                        <div class="d-flex">
                    {% endif %}
                {% endif %}
            {% endfor %}
            <button class="btn btn-primary">OK</button>
        </form>
        <a class="btn btn-secondary" role="button" onclick="return confirm('Êtes vous certain de remmettre la grille à zéro ?');" href="{{ path('replay') }}">Rejouer</a>
    </div>

{% endblock %}
